@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

* {
  font-family: 'NanumSquare';
}

.App {
  text-align: center;
  user-select: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  min-height: 50vh;
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.title {
  font-size: calc(10px + 2vmin);
}

.title-description {
  font-size: calc(10px + 1vmin);
}

.char-container {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: calc(100% - 15px);
  border-radius: 5px;
  margin: 5px;
}

.char-view-text {
  background-color: black;
  color: white;
  border-radius: 5px;
  margin: 0 5px;
  padding: 10px 10px;
  font-size: 15px;
}

.char-name {
  margin: 0 5px;
  font-size: 20px;
}

.char-unicode {
  color: grey;
  font-size: 15px;
}

.char-container a {
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px;
  background-color: #458eff;
  color: white;
  border-radius: 5px;
  padding: 5px 9px;
  transition: 0.2s ease-out;
  text-decoration: none;
  font-size: 20px;
}

.char-container a:hover {
  filter: brightness(80%);
  transition: 0.2s ease-out;
  cursor: pointer;
}

.footer-text {
  font-size: 10px;
}